<%- include('./header.ejs') %>
    <h2> شارژ حساب ریالی</h2>
    <form method="POST" action="" data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p>
                <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
        </div>
        <div class="grid-x grid-margin-x">

            <div class="large-4 medium-6 cell">
                <label> مقدار درخواستی 
                    <input type="number" name="amount" placeholder="ریال" required pattern="number">
                    <span class="form-error">
                        مقدار درخواستی به ریال را با ارقام لاتین وارد کنید.
                    </span>
                </label>
            </div>

            <div class="large-2 medium-6 cell">
                    <label> ارز مورد نظر
                        
                        <select  name="currency">
                            <option value="IRR">IRR</option>
                            <% if(locals.isAdmin){ %>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                            <% } %>
                        </select>
                        
                        <span class="form-error">
                            I'm required!
                        </span>
                    </label>
                </div>
        </div>
        <div class="grid-x grid-margin-x">
            <fieldset class="cell large-12">
                <button class="button" type="submit" value="Submit">ذخیره</button>
            </fieldset>
        </div>
    </form>
    
<%- include('./footer.ejs') %>