<%- include('./header.ejs') %>
    <h2> تنظیمات مدیریتی سیستم</h2>
    <form method="POST" action="" data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p>
                <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
        </div>
        <div class="grid-x grid-margin-x">

            <div class="large-4 medium-6 cell">
                <label> کارمزد به درصد
                    <input type="number" name="commission" placeholder="%" value="<%- locals.config.commission %>" required pattern="number">
                    <span class="form-error">
                        مقدار به ریال را با ارقام لاتین وارد کنید.
                    </span>
                </label>
            </div>
    
        </div>

        <div class="grid-x grid-margin-x">

                <div class="large-4 medium-6 cell">
                    <label> کف تراکنش ریالی
                        <input type="number" name="irrl" placeholder="IRR" value="<%- locals.config.IRR.lower %>" required pattern="number">
                        <span class="form-error">
                            مقدار به دلار را با ارقام لاتین وارد کنید.
                        </span>
                    </label>
                </div>
        
            </div>

            <div class="grid-x grid-margin-x">

                    <div class="large-4 medium-6 cell">
                        <label> سقف تراکنش ریالی
                            <input type="number" name="irru" placeholder="ریال" value="<%- locals.config.IRR.upper %>" required pattern="number">
                            <span class="form-error">
                                مقدار به ریال را با ارقام لاتین وارد کنید.
                            </span>
                        </label>
                    </div>
            
                </div>
                <div class="grid-x grid-margin-x">

                        <div class="large-4 medium-6 cell">
                            <label> کف تراکنش دلاری
                                <input type="number" name="usdl" placeholder="$" value="<%- locals.config.USD.lower %>" required pattern="number">
                                <span class="form-error">
                                    مقدار به دلار را با ارقام لاتین وارد کنید.
                                </span>
                            </label>
                        </div>
                
                    </div>
                    <div class="grid-x grid-margin-x">

                            <div class="large-4 medium-6 cell">
                                <label> سقف تراکنش دلای
                                    <input type="number" name="usdu" placeholder="$" value="<%- locals.config.USD.upper %>" required pattern="number">
                                    <span class="form-error">
                                        مقدار به دلار را با ارقام لاتین وارد کنید.
                                    </span>
                                </label>
                            </div>
                    
                        </div>
                        <div class="grid-x grid-margin-x">

                                <div class="large-4 medium-6 cell">
                                    <label> کف تراکنش یورویی
                                        <input type="number" name="eurl" placeholder="€" value="<%- locals.config.EUR.lower %>" required pattern="number">
                                        <span class="form-error">
                                            مقدار به یورو را با ارقام لاتین وارد کنید.
                                        </span>
                                    </label>
                                </div>
                        
                            </div>
                            <div class="grid-x grid-margin-x">

                                    <div class="large-4 medium-6 cell">
                                        <label> سقف تراکنش یورویی
                                            <input type="number" name="euru" placeholder="€" value="<%- locals.config.EUR.upper %>"required pattern="number">
                                            <span class="form-error">
                                                مقدار به یورو را با ارقام لاتین وارد کنید.
                                            </span>
                                        </label>
                                    </div>
                            
                                </div>
        <div class="grid-x grid-margin-x">
            <fieldset class="cell large-12">
                <button class="button" type="submit" value="Submit">ذخیره</button>
            </fieldset>
        </div>
    </form>
    
<%- include('./footer.ejs') %>