<%- include('./header.ejs') %>
    <h2>ارسال پیام</h2>
    <form method="POST" action="" data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p>
                <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
        </div>
        <div class="grid-x grid-margin-x">

            <div class="large-4 medium-6 cell">
                <label>نام و نام خانوادگی
                    <input type="text" name="name" placeholder="نام" required pattern="text">
                    <span class="form-error">
                        I'm required!
                    </span>
                </label>
            </div>

                
            <div class="large-4 medium-6 cell">
                    <label> ایمیل
                        <input type="text" name="email" placeholder="ایمیل" required pattern="email">
                        <span class="form-error">
                            I'm required!
                        </span>
                    </label>
                </div>
            
            <div class="large-6 medium-6 cell">
                <label> متن پیام
                    <textarea type="text" name="body" placeholder="متن پیام" required ></textarea>
                    <span class="form-error">
                        I'm required!
                    </span>
                </label>
            </div>
    
        </div>
        <div class="grid-x grid-margin-x">
            <fieldset class="cell large-12">
                <button class="button" type="submit" value="Submit">ذخیره</button>
            </fieldset>
        </div>
    </form>
    
<%- include('./footer.ejs') %>