<%- include('./header.ejs') %>
    <h2>تبدیل پول</h2>
    <form method="POST" action="" data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p>
                <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
        </div>
        <div class="grid-x grid-margin-x">

            <div class="large-4 medium-6 cell">
                <label> مقدار درخواستی
                    <input type="number" name="amount" placeholder="مقدار" required pattern="number" onchange="change('amount', 'cost')">
                    <span class="form-error">
                        I'm required!
                    </span>
                    <span id="cost" class="cost">
                            مبلغ کسر شده نهایی 0
                        </span>
                </label>
            </div>

            <div class="large-2 medium-6 cell">
                <label> واحد مبدا
                    <select name="source_currency">
                        <option value="IRR">IRR</option>
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                    </select>
                    <span class="form-error">
                        I'm required!
                    </span>
                </label>
            </div>
            
                <div class="large-2 medium-6 cell">
                        <label> واحد مقصد
                            <select name="dest_currency">
                                <option value="IRR">IRR</option>
                                <option value="USD">USD</option>
                                <option value="EUR">EUR</option>
                            </select>
                            <span class="form-error">
                                I'm required!
                            </span>
                        </label>
                </div>
        

        </div>
        <div class="grid-x grid-margin-x">
            <fieldset class="cell large-12">
                <button class="button" type="submit" value="Submit">ذخیره</button>
            </fieldset>
        </div>
    </form>
    
    
<%- include('./footer.ejs') %>