                </div>
            </div>
        </div>
        
        <div class="cell shrink bf-footer text-center">
            <span>تمامی حقوق متعلق به باترفلای است</span>
        </div>
    </div>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
    <script src="/js/app.js"></script>
    
</body>
</html>