<!doctype html>
<html class="no-js" lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>باترفلای - سامانه خدمات ارزی</title>
    <link rel="stylesheet" href="/font/shabnam.css" />
    <link rel="stylesheet" href="/icons/foundation-icons.css" />
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body id="body">
    <script>
            var change = function(input, output){
                console.log("CHANGE")
                var inp = document.getElementsByName(input)[0]
                var out = document.getElementById(output)
                var val = parseInt(inp.value) * (100 + <%- locals.config.commission %>) /100
                console.log(val)
                out.innerHTML = "مبلغ کسر شده نهایی " + val
            }
        </script>


    <div class="grid-y medium-grid-frame">
        <div class="cell shrink bf-header medium-cell-block-container">
            <div class="grid-x">
                <div class="cell medium-12 medium-cell-block">
                    <div class="top-bar stacked-for-large">
                        <ul class="menu">

                            <li class="menu-text">
                                <button class="menu-icon hide-for-medium" type="button" data-toggle></button>
                                باترفلای</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell medium-auto medium-cell-block-container">
            <div class="grid-x grid-padding-x grid-padding-y" style="height: 100%;">
                <div class="cell large-2 medium-3 medium-cell-block-y bf-menu hide-for-small-only">
                        
                    <ul class="vertical menu">
                        <li class="section">منوی کاربری</li>
                        <% menues.forEach(function(m){ %>
                            <% if(m.hr) { %>
                                <br>
                                
                            <% } %>
                                <li>
                                        <a href="<%- m.link %>"> <%- m.label %> </a>
                                </li>
                        <% }) %>
                    </ul>
                    <% if (locals.balances) { %>
                        <div class="callout secondary">
                            <p>موجودی حساب: <br> <%- locals.balances.irr %> ریال     <br>    <%- locals.balances.usd %> دلار    <br>     <%- locals.balances.eur %> یورو</p>
                        </div>
                    <% } %>
                </div>
                <div class="cell large-10 medium-9 medium-cell-block-y">
                        
                        <% if (locals.req.query.error) { %>
                        <div class="result callout alert">
                            <p><%- locals.req.query.error %></p>
                        </div>    
                        <% } %>
                        <% if (locals.req.query.success) { %>
                        <div class="result callout success">
                            <h5>عملیات موفقیت آمیز بود</h5>
                        </div>
                        <% } %>
            