<%- include('./header.ejs') %>
    <h2>ویرایش اطلاعات کاربری</h2>
    <div data-abide-error class="alert callout" style="display: none;">
        <p>
            <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
    </div>
    <form method="POST" action="" data-abide novalidate>

        <div class="grid-x grid-margin-x">

            <div class="large-4 medium-6 cell">
                <label>نام
                    <input type="text" name="firstName" placeholder="" value="<%- locals.user?locals.user.firstName:''%>"required pattern="text">
                    <span class="form-error">
                        وارد کردن این گزینه اجباری است.
                    </span>
                </label>
            </div>
            <div class="large-4 medium-6 cell">
                <label>نام خانوادگی
                    <input type="text" name="lastName" placeholder="" value="<%- locals.user?locals.user.lastName:''%>" required pattern="text">
                    <span class="form-error">
                        وارد کردن این گزینه اجباری است.
                    </span>
                </label>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="large-4 medium-6 cell">
                <label>کد ملی
                    <input type="text" name="natCode" placeholder="XXXXXXXXXX" required value="<%- locals.user?locals.user.natCode:''%>" pattern="national-code">
                    <span class="form-error">
                        کد ملی ۱۰ رقمی با ارقام لاتین را وارد کنید.
                    </span>
                </label>
            </div>
            <div class="large-4 medium-6 cell">
                <label>شماره شبا
                    <input type="text" name="iban" placeholder="شبا" required value="<%- locals.user?locals.user.iban:''%>" pattern="iban">
                    <span class="form-error">
                        شماره شبا را با ارقام لاتین و با شروع با IR وارد کنید.
                    </span>
                </label>
            </div>
        </div>
        <div class="grid-x grid-margin-x">


            <div class="large-4 medium-6 cell">
                <label> شماره موبایل
                    <input type="text" name="phone" placeholder="09XXXXXXXXX"  value="<%- locals.user?locals.user.phone:''%>" disabled required pattern="phone">
                    <span class="form-error">
                        شماره تلفن را ۱۱ رقمی و با ارقام لاتین بنویسید.
                    </span>
                </label>
            </div>

            <div class="large-4 medium-6 cell">
                <label> ایمیل (اختیاری)
                    <input type="text" name="email" placeholder="jdoe@example.com" value="<%- locals.user?locals.user.email:''%>" pattern="email">
                    <span class="form-error">
                        ایمیل خود را وارد کنید.
                    </span>
                </label>
            </div>

        </div>
        <% if(locals.admin){%>
            <div class="large-4 medium-6 cell">
                <label> سطح دسترسی کاربر
                    <select name="role" >
                        <options>
                            <option value="<%- locals.user.role %>"><%- locals.user.role %></option>
                            <option value="Customer">Customer</option>
                            <option value="Employee">Employee</option>
                            <option value="Admin">Admin</option>
                        </options>
                    </select>

                    <span class="form-error">
                        I'm required!
                    </span>
                </label>
            </div>
            <div class="large-4 medium-6 cell">
                    <label> کاربر فعال:
                        <select name="active" >
                            <options>
                                <option value="<%- locals.user.active %>"><%- locals.user.active %></option>
                                <option value="true">true</option>
                                <option value="false">false</option>
                            </options>
                        </select>
    
                        <span class="form-error">
                            I'm required!
                        </span>
                    </label>
                </div>
                <% if(locals.user.role==="Employee"){ %>
                <div class="large-4 medium-6 cell">
                        <label> میزان حقوق به ریال:
                                <input type="number" name="salary" placeholder="RIALS"  value="<%- locals.user?locals.user.salary:0%>">
                                <span class="form-error">
                                    شماره تلفن را ۱۱ رقمی و با ارقام لاتین بنویسید.
                                </span>
        
                        </label>
                </div>
                <% } %>
        <%}%>
        <div class="grid-x grid-margin-x">
            <fieldset class="cell large-12">
                <button class="button" type="submit" value="Submit">ذخیره</button>
            </fieldset>
        </div>
    </form>

    <%- include('./footer.ejs') %>
