<%- include('./header.ejs') %>
    <h2>نرخ تبدیل ارز‌ها</h2>
    <p>نرخ تبدیل ارز‌ها به صورت لحظه‌ای به روز رسانی می‌شود. در جدول زیر می‌توانید قیمت هر ارز را ببینید:</p>
    <div class="grid-x grid-margin-x">
        <div class="cell large-12">
            <table class="stack hover">
                <thead>
                    <tr>
                        <th width="200">نام ارز</th>
                        <th width="300">قیمت به ریال</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>دلار </td>
                        <td><%- rates.USD %></td>
                    </tr>

                    <tr>
                        <td>یورو</td>
                        <td><%- rates.EUR %></td>
                    </tr>
                </tbody>
            </table>
            <h3>محاسبه نرخ تبدیل ارز</h3>
            <form method="POST" action="" data-abide novalidate>
                <div data-abide-error class="alert callout" style="display: none;">
                    <p>
                        <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
                </div>
                <div class="grid-x grid-margin-x">
        
                    <div class="large-4 medium-6 cell">
                        <label> مقدار
                            <input type="number" name="amount" placeholder="مقدار" required pattern="number" value="<%- amount %>">
                            <span class="form-error">
                                مقدار ارز را وارد کنید
                            </span>
                        </label>
                    </div>
        
                    <div class="large-2 medium-6 cell">
                        <label> واحد مبدا
                            <select name="fromCurrency">
                                <option value="IRR" <%- fromCurrency == 'IRR' ? 'selected' : '' %>>IRR</option>
                                <option value="USD" <%- fromCurrency == 'USD' ? 'selected' : '' %>>USD</option>
                                <option value="EUR" <%- fromCurrency == 'EUR' ? 'selected' : '' %>>EUR</option>
                            </select>
                            <span class="form-error">
                                I'm required!
                            </span>
                        </label>
                    </div>
                    
                        <div class="large-2 medium-6 cell">
                                <label> واحد مقصد
                                    <select name="toCurrency">
                                        <option value="IRR" <%- toCurrency == 'IRR' ? 'selected' : '' %>>IRR</option>
                                        <option value="USD" <%- toCurrency == 'USD' ? 'selected' : '' %>>USD</option>
                                        <option value="EUR" <%- toCurrency == 'EUR' ? 'selected' : '' %>>EUR</option>
                                    </select>
                                    <span class="form-error">
                                        I'm required!
                                    </span>
                                </label>
                        </div>
                
        
                </div>
                <div class="grid-x grid-margin-x">
                    <fieldset class="cell large-12">
                        <button class="button" type="submit" value="Submit">محاسبه</button>
                    </fieldset>
                </div>
                <div>
                    مقدار محاسبه شده در واحد مقصد پس از کسر کارمزد:
                    <%- calculatedAmount %>
                </div>
            </form>
        </div>
    </div>
<%- include('./footer.ejs') %>