<%- include('./header.ejs') %>
    <form data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p>
                <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
        </div>
    </form>
    <h2>لیست درخواست‌ها</h2>
    <p>شما می‌توانید تمامی درخواست‌ها را در این لیست مشاهده کنید.</p>
    <div class="grid-x grid-margin-x">
        <div class="cell large-12">
            <table class="stack hover">
                <thead>
                        <tr>
                            <th width="150">کاربر</th>
                            <th width="150">سرویس</th>
                            <th>وضعیت</th>
                            <% if(locals.user.isEmployee){%>
                            <th>تایید</th>
                            <th>رد</th>
                            <%}%>
                            <td align="left">
                                    <a href="create">
                                    <button class="button" type="button">
                                        <span aria-hidden="true">
                                            <i class="fi-plus"></i>
                                        </span>
                                    </button>
                                </a>
                                </td>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    
                
                <tbody>
                    <% requests.forEach(function(req){ %>
                        <tr>
                                <td> <%- req.user.phone %> </td>
                                <td> <%- req.service.name %> </td>
                                <td> <%- req.state %> </td>
                                <% if(locals.user.isEmployee){ %>
                                    <td >
                                        <% if(req.state!=="APPROVED" && req.state!=="TIMEOUT REJECT"){ %> 
                                            <a href="approve/<%-req._id%>" class="" >
                                                <span aria-hidden="true">
                                                    <i class="fi-check"></i>
                                                </span>
                                            </a>
                                        <% } %>
                                        </td>
                                    <td >
                                        <% if(req.state=="PENDING"){ %> 
                                            <a href="reject/<%-req._id%>" class="" >
                                                <span aria-hidden="true">
                                                    <i class="fi-x"></i>
                                                </span>
                                            </a>
                                        <% } %>
                                        </td>
                                <% } %>
                                <td></td>
                            </tr>        
                        
                        
                        <% }); %>

                    <tr>
                        
                </tbody>
            </table>
        </div>
        <div class="cell large-12">
            <nav aria-label="Pagination">
                <ul class="pagination text-center">
                    <li class="pagination-previous disabled">قبلی</li>
                    <li class="current">۱</li>
                    <li>
                        <a href="#" aria-label="Page 2">۲</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 3">۳</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 4">۴</a>
                    </li>
                    <li class="ellipsis"></li>
                    <li>
                        <a href="#" aria-label="Page 12">۱۲</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 13">۱۳</a>
                    </li>
                    <li class="pagination-next">
                        <a href="#" aria-label="Next page">بعدی</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
<%- include('./footer.ejs') %>