<%- include('./header.ejs') %>
    <form data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p>
                <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
        </div>
    </form>
    <h2>لیست سرویس‌ها</h2>
    <p>شما می‌توانید تمامی سرویس‌ها را در این لیست مشاهده کنید.</p>
    <div class="grid-x grid-margin-x">
        <div class="cell large-12">
            <table class="stack hover">
                <thead>
                        <tr>
                            <th width="150">نام سرویس</th>
                            <th width="150">توضیحات</th>
                            <th width="150">ارز</th>
                            <th width="150">قیمت</th>
                            <th width="100">عکس</th>
                            <th width="100">وضعیت</th>
                            <td align="left">
                                    <a href="create">
                                    <button class="button" type="button">
                                        <span aria-hidden="true">
                                            <i class="fi-plus"></i>
                                        </span>
                                    </button>
                                </a>
                                </td>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    
                
                <tbody>
                    <% services.forEach(function(s){ %>
                        <tr>
                                <td> <%- s.name %> </td>
                                <td> <%- s.description %> </td>
                                <td> <%- s.currency %> </td>
                                <td> <%- s.price %> </td>
                                <td> <img src="<%- s.photo %>"/> </td>
                                <%if(s.active){%>
                                    <td><span aria-hidden="true"><i class="fi-check"></i></span></td>
                                <%} else{%>
                                    <td><span aria-hidden="true"><i class="fi-x"></i></span></td>
                                <%}%>
                                <td align="left">
                                    <a class="button" href="edit/<%- s._id %>">
                                            <span aria-hidden="true">
                                                <i class="fi-pencil"></i>
                                            </span>
                                    </a>
                                </td>
                            </tr>        
                        
                        
                        <% }); %>

                    <tr>
                        
                </tbody>
            </table>
        </div>
        <div class="cell large-12">
            <nav aria-label="Pagination">
                <ul class="pagination text-center">
                    <li class="pagination-previous disabled">قبلی</li>
                    <li class="current">۱</li>
                    <li>
                        <a href="#" aria-label="Page 2">۲</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 3">۳</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 4">۴</a>
                    </li>
                    <li class="ellipsis"></li>
                    <li>
                        <a href="#" aria-label="Page 12">۱۲</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 13">۱۳</a>
                    </li>
                    <li class="pagination-next">
                        <a href="#" aria-label="Next page">بعدی</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
<%- include('./footer.ejs') %>