<%- include('./header.ejs') %>
    <h2>ایجاد/ویرایش سرویس</h2>
    <p>اطلاعات پروفایل خود را در فرم زیر می‌بینید. تغییرات لازم را اعمال کنید و دکمه‌ی ذخیره را بفشارید.</p>
    <form method="POST" action="" data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p>
                <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="large-4 medium-6 cell">
                <label>نام سرویس
                    <input type="text" name="name" placeholder="نام" required pattern="text" value="<%- locals.service?locals.service.name:''%>">
                    <span class="form-error">
                        نام سرویس را وارد کنید
                    </span>
                </label>
            </div>
          
            <div class="large-4 medium-6 cell">
                <label> قیمت
                    <input type="number" name="price" placeholder="قیمت" required pattern="number"value="<%- locals.service?locals.service.price:''%>">
                    <span class="form-error">
                        قیمت سرویس را وارد کنید
                    </span>
                </label>
            </div>
            
            <div class="large-4 medium-6 cell">
                <label> ارز مورد نیاز
                    <select name="currency" >
                            <% if(locals.service){%>
                                <option value="<%-service.currency%>"><%-service.currency%></option>
                            <%}%>
                            <option value="IRR">IRR</option>
                            <option value="USD">USD</option>
                            <option value="EUR">EUR</option>
                    </select>
                </label>
            </div>
            <div class="large-12 medium-6 cell">
                <label>توضیحات
                    <textarea name="description" rows="4" placeholder="توضیحات"><% if(locals.service){%><%-service.description%><%}%></textarea>
                </label>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <fieldset class="cell large-12">
                <button class="button" type="submit" value="Submit">ذخیره</button>
            </fieldset>
        </div>
    </form>
    
<%- include('./footer.ejs') %>