<%- include('./header.ejs') %>
    <h2>ثبت نام</h2>
    <div data-abide-error class="alert callout" style="display: none;">
        <p>
            <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
    </div>
    <form method="POST" action="" data-abide novalidate>

        <div class="grid-x grid-margin-x">

            <div class="large-4 medium-6 cell">
                <label>نام
                    <input type="text" name="firstName" placeholder="" required pattern="text">
                    <span class="form-error">
                        وارد کردن این گزینه اجباری است.
                    </span>
                </label>
            </div>
            <div class="large-4 medium-6 cell">
                <label>نام خانوادگی
                    <input type="text" name="lastName" placeholder="" required pattern="text">
                    <span class="form-error">
                        وارد کردن این گزینه اجباری است.
                    </span>
                </label>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="large-4 medium-6 cell">
                <label>کد ملی
                    <input type="text" name="natCode" placeholder="XXXXXXXXXX" required pattern="national-code">
                    <span class="form-error">
                        کد ملی ۱۰ رقمی با ارقام لاتین را وارد کنید.
                    </span>
                </label>
            </div>
            <div class="large-4 medium-6 cell">
                <label>شماره شبا
                    <input type="text" name="iban" placeholder="شبا" required pattern="iban">
                    <span class="form-error">
                        شماره شبا را با ارقام لاتین و با شروع با IR وارد کنید.
                    </span>
                </label>
            </div>
        </div>
        <div class="grid-x grid-margin-x">


            <div class="large-4 medium-6 cell">
                <label> شماره موبایل
                    <input type="text" name="phone" placeholder="09XXXXXXXXX" required pattern="phone">
                    <span class="form-error">
                        شماره تلفن را ۱۱ رقمی و با ارقام لاتین بنویسید.
                    </span>
                </label>
            </div>

            <div class="large-4 medium-6 cell">
                <label> ایمیل (اختیاری)
                    <input type="text" name="email" placeholder="jdoe@example.com" pattern="email">
                    <span class="form-error">
                        ایمیل خود را وارد کنید.
                    </span>
                </label>
            </div>

        </div>
        <div class="grid-x grid-margin-x">
            <fieldset class="cell large-12">
                <button class="button" type="submit" value="Submit">ذخیره</button>
            </fieldset>
        </div>
    </form>

    <%- include('./footer.ejs') %>
