<%- include('./header.ejs') %>
    <h2>ورود</h2>
    <form method="POST" action="" data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p>
                <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.
            </p>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="large-4 medium-6 cell">
                <label>شماره موبایل
                    <input type="text" name="phone" placeholder="09XXXXXXXXX" required pattern="phone">
                    <span class="form-error">
                        شماره تلفن را ۱۱ رقمی و با ارقام لاتین بنویسید.
                    </span>
                </label>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <fieldset class="cell large-12">
                <button class="button" type="submit" value="Submit">ورود</button>
            </fieldset>
        </div>
    </form>

    <%- include('./footer.ejs') %>