<%- include('./header.ejs') %>
    <h2>ویرایش پروفایل</h2>
    <p>اطلاعات پروفایل خود را در فرم زیر می‌بینید. تغییرات لازم را اعمال کنید و دکمه‌ی ذخیره را بفشارید.</p>
    <form data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p>
                <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
        </div>
        <div class="grid-x grid-margin-x">

            <div class="large-4 medium-6 cell">
                <label>نام و نام خانوادگی
                    <input type="text" placeholder="نام" required pattern="number">
                    <span class="form-error">
                        I'm required!
                    </span>
                </label>
            </div>


            <div class="large-4 medium-6 cell">
                    <label>نام و نام خانوادگی
                        <input type="text" placeholder="نام" required pattern="number">
                        <span class="form-error">
                            I'm required!
                        </span>
                    </label>
                </div>

                
            <div class="large-4 medium-6 cell">
                    <label>نام و نام خانوادگی
                        <input type="text" placeholder="نام" required pattern="number">
                        <span class="form-error">
                            I'm required!
                        </span>
                    </label>
                </div>
    
        </div>
        <div class="grid-x grid-margin-x">
            <fieldset class="cell large-12">
                <button class="button" type="submit" value="Submit">ذخیره</button>
            </fieldset>
        </div>
    </form>
    <h2>لیست کاربران</h2>
    <p>شما می‌توانید تمامی کاربران را در این لیست مشاهده کنید.</p>
    <div class="grid-x grid-margin-x">
        <div class="cell large-12">
            <table class="stack hover">
                <thead>
                    <tr>
                        <th width="150">نام</th>
                        <th width="150">نام خانوادگی</th>
                        <th>پست الکترونیک</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>سید حامد</td>
                        <td>ولی‌زاده طوسی</td>
                        <td>havaliza@gmail.com</td>
                        <td align="left">
                            <button class="button" type="button">
                                <span aria-hidden="true">
                                    <i class="fi-pencil"></i>
                                </span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>سید حامد</td>
                        <td>ولی‌زاده طوسی</td>
                        <td>havaliza@gmail.com</td>
                        <td align="left">
                            <button class="button" type="button">
                                <span aria-hidden="true">
                                    <i class="fi-pencil"></i>
                                </span>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>سید حامد</td>
                        <td>ولی‌زاده طوسی</td>
                        <td>havaliza@gmail.com</td>
                        <td align="left">
                            <button class="button" type="button">
                                <span aria-hidden="true">
                                    <i class="fi-pencil"></i>
                                </span>
                            </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="cell large-12">
            <nav aria-label="Pagination">
                <ul class="pagination text-center">
                    <li class="pagination-previous disabled">قبلی</li>
                    <li class="current">۱</li>
                    <li>
                        <a href="#" aria-label="Page 2">۲</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 3">۳</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 4">۴</a>
                    </li>
                    <li class="ellipsis"></li>
                    <li>
                        <a href="#" aria-label="Page 12">۱۲</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 13">۱۳</a>
                    </li>
                    <li class="pagination-next">
                        <a href="#" aria-label="Next page">بعدی</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
<%- include('./footer.ejs') %>