<%- include('./header.ejs') %>
    <p> شرایط استفاده از هر یک از سرویس ها به تشریح در توضیحات آنها آمده است و قیمت تمام شده استفاده از هر سرویس، قیمت معین شده در صفحه‌ی توضیحات آن است و شامل کارمزد نمی‌شو
    </p>
    <p>
        برای هر یک از تراکنش‌های از نوع انتقال، وجه، تبدیل نرخ‌ها و تسویه، <%- locals.config.commission %> درصد مبلغ مورد نظر در نرخ مبدأ از حساب درخواست دهنده تراکنش کسر خواهد شد.
    </p>
<%- include('./footer.ejs') %>