<%- include('./header.ejs') %>
    <form data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p>
                <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
        </div>
    </form>
    <h2>لیست تراکنش‌ها</h2>
    <p>شما می‌توانید تمامی درخواست‌ها را در این لیست مشاهده کنید.</p>
    <div class="grid-x grid-margin-x">
        <div class="cell large-12">
            <table class="stack hover">
                <thead>
                        <tr>
                            <th width="150">مبدا</th>
                            <th width="150">مقصد</th>
                            <th width="150">مقدار</th>
                            <th width="150">واحد ارزی</th>
                            <th width="150">درخواست/موضوع</th>
                            <th>کاربر مسئول</th>
                            <!-- <th>&nbsp;</th> -->
                        </tr>
                    </thead>
                    
                
                <tbody>
                    <% transactions.forEach(function(t){ %>
                        <tr>
                                <td> <%- t.source?t.source.fullname:'-' %> </td>
                                <td> <%- t.destination?t.destination.fullname:'-' %> </td>
                                <td> <%- t.amount %> </td>
                                <td> <%- t.currency %> </td>
                                <td> <%- t.request?t.request._id:t.action %> </td>
                                <td> <%- t.made_by.fullname %> </td>
                                <!-- <td align="left">
                                    <button class="button" type="button">
                                        <span aria-hidden="true">
                                            <i class="fi-pencil"></i>
                                        </span>
                                    </button>
                                </td> -->
                            </tr>        
                        
                        
                        <% }); %>

                    <tr>
                        
                </tbody>
            </table>
        </div>
        <div class="cell large-12">
            <nav aria-label="Pagination">
                <ul class="pagination text-center">
                    <li class="pagination-previous disabled">قبلی</li>
                    <li class="current">۱</li>
                    <li>
                        <a href="#" aria-label="Page 2">۲</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 3">۳</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 4">۴</a>
                    </li>
                    <li class="ellipsis"></li>
                    <li>
                        <a href="#" aria-label="Page 12">۱۲</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 13">۱۳</a>
                    </li>
                    <li class="pagination-next">
                        <a href="#" aria-label="Next page">بعدی</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
<%- include('./footer.ejs') %>