<%- include('./header.ejs') %>
    <form data-abide novalidate>
        <div data-abide-error class="alert callout" style="display: none;">
            <p>
                <i class="fi-alert"></i> اطلاعاتی که وارد کرده‌اید نادرست هستند.</p>
        </div>
    </form>
    <h2>لیست پیام‌ها</h2>
    <p>شما می‌توانید تمامی پیام‌ها را در این لیست مشاهده کنید.</p>
    <div class="grid-x grid-margin-x">
        <div class="cell large-12">
            <table class="stack hover">
                <thead>
                        <tr>
                            <th width="150">نام</th>
                            <th width="150">تماس</th>
                            <th width="100">شارژ ریالی</th>
                            <th width="100">شارژ دلاری</th>
                            <th width="100">شارژ یورو</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    
                
                <tbody>
                    <% users.forEach(function(u){ %>
                        <tr>
                                <td> <%- u.fullname %> </td>
                                <td> <%- u.phone %> </td>
                                <td> <%- u.balances.irr %> </td>
                                <td> <%- u.balances.usd %> </td>
                                <td> <%- u.balances.eur %> </td>
                                <td align="left">
                                    <a href="<%- u._id %>">
                                        <button class="button" type="button">
                                            <span aria-hidden="true">
                                                <i class="fi-pencil"></i>
                                            </span>
                                        </button>
                                    </a>
                                </td>
                            </tr>        
                        
                        
                        <% }); %>

                    <tr>
                        
                </tbody>
            </table>
        </div>
        <div class="cell large-12">
            <nav aria-label="Pagination">
                <ul class="pagination text-center">
                    <li class="pagination-previous disabled">قبلی</li>
                    <li class="current">۱</li>
                    <li>
                        <a href="#" aria-label="Page 2">۲</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 3">۳</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 4">۴</a>
                    </li>
                    <li class="ellipsis"></li>
                    <li>
                        <a href="#" aria-label="Page 12">۱۲</a>
                    </li>
                    <li>
                        <a href="#" aria-label="Page 13">۱۳</a>
                    </li>
                    <li class="pagination-next">
                        <a href="#" aria-label="Next page">بعدی</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
<%- include('./footer.ejs') %>