<%- include('./header.ejs') %>
    <h2>احراز هویت</h2>
    <% if (locals.error) { %>
    <div class="alert callout">
        <p>
            <i class="fi-alert"></i> کد تایید اشتباه بود.
        </p>
    </div>
    <% } %>
    <form method="POST" action="" data-abide novalidate>
        <input type="hidden" name="phone" value="<%- phone %>">
        <div class="grid-x grid-margin-x">
            <div class="large-4 medium-6 cell">
                <label>کد تایید
                    <input type="password" name="token" placeholder="XXXX" required pattern="auth-code">
                    <span class="form-error">
                        کد تایید عددی چهار رقمی با ارقام لاتین است.
                    </span>
                </label>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <fieldset class="cell large-12">
                <button class="button" type="submit" value="Submit">ذخیره</button>
            </fieldset>
        </div>
    </form>

    <%- include('./footer.ejs') %>