* {
  font-family: "Shabnam", sans-serif !important;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

.bf-header,
.bf-footer {
  background-color: #455a64;
  color: #ffffff;
}

.top-bar,
.top-bar ul {
  background-color: #455a64;
}

.bf-header {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.bf-header h3 {
  margin: 0;
}

.bf-footer {
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 16px;
  font-size: 0.8rem;
}

.bf-menu {
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #607d8b;
}

@media screen and (max-width: 39.9375em) {
  .bf-menu {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: #607d8b;
  }
}

.menu-icon {
  margin-left: 8px;
}

.menu .section {
  line-height: 1;
  text-decoration: none;
  display: block;
  padding: 0.7rem 1rem;
  color: #BDBDBD;
  font-weight: bolder;
}

.menu a {
  color: #ffffff;
  font-size: 0.8rem;
}

.menu a:hover,
.menu a:focus {
  color: #cfd8dc;
}

td .button {
    margin: 0;
}
