/*
Template Name: Salimo - Creative One Page Template
Author: Celtano
Author URI: http://themeforest.net/user/celtano
Description: Salimo - Creative One Page Template [RTL VERSION]
*/

.rtl-version body,
.rtl-version h1,
.rtl-version h2,
.rtl-version h3,
.rtl-version h4,
.rtl-version h5,
.rtl-version h6,
.rtl-version p,
.rtl-version .nav-menu ul.nav-menu-inner li a,
.rtl-version .services .services-box-item-cover:after,
.rtl-version .tp-caption, 
.custom-button,
.rtl-version .list-why-choose-us li,
.rtl-version .portfolio .nav-pills li,
.rtl-version .meta,
.contact #gmap_canvas strong,
.rtl-version .gm-style .gm-style-iw,
.rtl-version .custom-input-field,
.rtl-version .custom-form-group textarea,
.rtl-version figcaption,
.rtl-version .banner,
.rtl-version .sidebar .widget ul li a,
.rtl-version.blog-post .blog-content .comments span.author,
.rtl-version.blog-post .add-comment .form-holder form,
.rtl-version.blog-post .post-author,
.blog-post .blog-content .comment-reply-link  {
    font-family: 'Shabnam', sans-serif !important;
}
.rtl-version .nav-menu-icon {
	float:left;
}
.rtl-version .top-text h4 {
	margin:25px 0 35px;
}
.rtl-version .nav-menu ul.nav-menu-inner li a {
	text-align:right;
}
.rtl-version .testimonials #quote-carousel p {
	font-family: sans-serif !important;
}
.rtl-version .testimonials #quote-carousel p:before {
	content: "\f10e";
	margin-left:10px;
}
.rtl-version .testimonials #quote-carousel p:after {
	content: "\f10d";
	margin-right:10px;
}
.rtl-version .tp-caption.NotGeneric-SubTitle, .rtl-version .NotGeneric-SubTitle {
	letter-spacing: 1px !important;
    font-size: 14px !important;
}
.rtl-version .logo {
	float:right;
}
.rtl-version .nav-menu {
	float:left;
}
.rtl-version .nav-menu ul.nav-menu-inner li a i{
	padding-left:3px;
}
.rtl-version .mfp-counter{
	display:none;
}
.rtl-version .newsletter form .custom-button:before{
	left: 80px;
    right: inherit;
}
.rtl-version .banner .content .top-text h4 i {
	padding-left:5px;
}
.rtl-version .blog .blog-content .custom-button:before {
	right:100px;
}
.rtl-version.blog-page .blog-content .custom-button:before {
	display:none;
}
.rtl-version.blog-post .post-author img {
	float: right;
    margin: 5px 0 10px 20px;
}
.rtl-version.blog-post .blog-content .comment-author {
	float: right;
}
.rtl-version.blog-post .blog-content .comments span.author {
	text-align:right;
}
.custom-button:before {
    left: 12px;
	right:inherit;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}
.rtl-version .custom-button:hover span {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}
.rtl-version .about .about-content .full-image-overlay h3, .list-why-choose-us li {
	text-align:right;
}
.rtl-version .list-why-choose-us li:before{
	left:inherit;
	right:0;
}
.rtl-version .list-why-choose-us li {
	padding-right:22px;
	padding-left:0;
}
.rtl-version .list-why-choose-us li:before {
    content: '\f060';
}
.rtl-version .projectmanager blockquote {
	border-left:0;
	border-right:5px solid #eee;
	padding-right:20px;
}
.rtl-version #back-top-wrapper {
	right:inherit;
	left:26px;
}
.rtl-version .testimonials #quote-carousel .carousel-indicators{
	left: 50%;
	right:inherit;
	padding-right: 0;
	padding-left: inherit;
}
.rtl-version .services .services-box-item-content:before {
	right:inherit;
	left:0;
}
.rtl-version .portfolio .caption {
	text-align:right;
	border-left:inherit;
	padding-left: inherit;
}
.rtl-version .portfolio .caption h3 {
	border-left:0;
	padding-right: 15px;
	padding-left: 0;
}
.rtl-version .portfolio .nav-pills {
	direction:rtl;
	padding-right: 0;
}
.rtl-version .portfolio .nav-pills li i {
	float: right;
    padding-top: 5px;
    padding-left: 7px;
}
.rtl-version .about-left-side, .rtl-version  .projectmanager, .rtl-version .services, .rtl-version .blog, .rtl-version .info-map-boxes-item {
	text-align:right;
}
.rtl-version .info-map-boxes-item:before {
	float:left;
	padding: 10px 30px 0 0;
}
.rtl-version .meta span i{
	float: right;
	padding-right:0;
    padding-left: 10px;
    padding-top: 3px;
}
.rtl-version .blog .blog-content .blog-excerpt span, .rtl-version  .blog-page .blog-content span {
	margin-right:inherit;
	margin-left: 16px;
}
.tp-simpleresponsive  {
	direction:ltr;
}
.rtl-version .filtr-container, .rtl-version .bx-wrapper {
	direction: initial;
}
.rtl-version .contact #gmap_canvas strong {
	padding-right:20px;
}
.rtl-version .custom-form-group textarea {
	padding: 20px 25px 0 ;
}
.custom-input-field {
	padding-right:51px;
	padding-left:initial;
	-webkit-transform: translate3d(-1em, 0, 0);
    transform: translate3d(-1em, 0, 0);
}
.rtl-version .input-label {
	float:right;
	right:0;
}
.rtl-version .custom-input-label::before {
	right:0;
	-webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
.rtl-version .icon-field {
	-webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.rtl-version .pagination li {
	float:right;
}
.rtl-version.blog-page .sidebar .widget.recent-posts figure {
	float:right;
	margin-left:35px;
	margin-right:0;
}
@media (max-width:992px) {
	.rtl-version .projectmanager h1, .rtl-version .projectmanager h3{
		text-align:center;
	}
	.rtl-version .submit-form button:before{
		right: 80px;
	}
	.rtl-version .slider-button{
		margin-top:40px;
	}
	.rtl-version .projectmanager .img-responsive {
		margin-top:70px;
	}
	.rtl-version .newsletter form .form-group input {
		padding-right: 50px;
	}
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  margin-left: 0;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11 {
  float: right;
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11 {
    float: right;
  }
  .col-sm-push-1 {
    right: 8.333333333333332%;
  }
  .col-sm-push-2 {
    right: 16.666666666666664%;
  }
  .col-sm-push-3 {
    right: 25%;
  }
  .col-sm-push-4 {
    right: 33.33333333333333%;
  }
  .col-sm-push-5 {
    right: 41.66666666666667%;
  }
  .col-sm-push-6 {
    right: 50%;
  }
  .col-sm-push-7 {
    right: 58.333333333333336%;
  }
  .col-sm-push-8 {
    right: 66.66666666666666%;
  }
  .col-sm-push-9 {
    right: 75%;
  }
  .col-sm-push-10 {
    right: 83.33333333333334%;
  }
  .col-sm-push-11 {
    right: 91.66666666666666%;
  }
  .col-sm-pull-1 {
    left: 8.333333333333332%;
  }
  .col-sm-pull-2 {
    left: 16.666666666666664%;
  }
  .col-sm-pull-3 {
    left: 25%;
  }
  .col-sm-pull-4 {
    left: 33.33333333333333%;
  }
  .col-sm-pull-5 {
    left: 41.66666666666667%;
  }
  .col-sm-pull-6 {
    left: 50%;
  }
  .col-sm-pull-7 {
    left: 58.333333333333336%;
  }
  .col-sm-pull-8 {
    left: 66.66666666666666%;
  }
  .col-sm-pull-9 {
    left: 75%;
  }
  .col-sm-pull-10 {
    left: 83.33333333333334%;
  }
  .col-sm-pull-11 {
    left: 91.66666666666666%;
  }
  .col-sm-offset-1 {
    margin-right: 8.333333333333332%;
  }
  .col-sm-offset-2 {
    margin-right: 16.666666666666664%;
  }
  .col-sm-offset-3 {
    margin-right: 25%;
  }
  .col-sm-offset-4 {
    margin-right: 33.33333333333333%;
  }
  .col-sm-offset-5 {
    margin-right: 41.66666666666667%;
  }
  .col-sm-offset-6 {
    margin-right: 50%;
  }
  .col-sm-offset-7 {
    margin-right: 58.333333333333336%;
  }
  .col-sm-offset-8 {
    margin-right: 66.66666666666666%;
  }
  .col-sm-offset-9 {
    margin-right: 75%;
  }
  .col-sm-offset-10 {
    margin-right: 83.33333333333334%;
  }
  .col-sm-offset-11 {
    margin-right: 91.66666666666666%;
  }
  .col-sm-offset-1,
  .col-sm-offset-2,
  .col-sm-offset-3,
  .col-sm-offset-4,
  .col-sm-offset-5,
  .col-sm-offset-6,
  .col-sm-offset-7,
  .col-sm-offset-8,
  .col-sm-offset-9,
  .col-sm-offset-10,
  .col-sm-offset-11 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11 {
    float: right;
  }
  .col-md-push-1 {
    right: 8.333333333333332%;
  }
  .col-md-push-2 {
    right: 16.666666666666664%;
  }
  .col-md-push-3 {
    right: 25%;
  }
  .col-md-push-4 {
    right: 33.33333333333333%;
  }
  .col-md-push-5 {
    right: 41.66666666666667%;
  }
  .col-md-push-6 {
    right: 50%;
  }
  .col-md-push-7 {
    right: 58.333333333333336%;
  }
  .col-md-push-8 {
    right: 66.66666666666666%;
  }
  .col-md-push-9 {
    right: 75%;
  }
  .col-md-push-10 {
    right: 83.33333333333334%;
  }
  .col-md-push-11 {
    right: 91.66666666666666%;
  }
  .col-md-pull-1 {
    left: 8.333333333333332%;
  }
  .col-md-pull-2 {
    left: 16.666666666666664%;
  }
  .col-md-pull-3 {
    left: 25%;
  }
  .col-md-pull-4 {
    left: 33.33333333333333%;
  }
  .col-md-pull-5 {
    left: 41.66666666666667%;
  }
  .col-md-pull-6 {
    left: 50%;
  }
  .col-md-pull-7 {
    left: 58.333333333333336%;
  }
  .col-md-pull-8 {
    left: 66.66666666666666%;
  }
  .col-md-pull-9 {
    left: 75%;
  }
  .col-md-pull-10 {
    left: 83.33333333333334%;
  }
  .col-md-pull-11 {
    left: 91.66666666666666%;
  }
  .col-md-offset-1 {
    margin-right: 8.333333333333332%;
  }
  .col-md-offset-2 {
    margin-right: 16.666666666666664%;
  }
  .col-md-offset-3 {
    margin-right: 25%;
  }
  .col-md-offset-4 {
    margin-right: 33.33333333333333%;
  }
  .col-md-offset-5 {
    margin-right: 41.66666666666667%;
  }
  .col-md-offset-6 {
    margin-right: 50%;
  }
  .col-md-offset-7 {
    margin-right: 58.333333333333336%;
  }
  .col-md-offset-8 {
    margin-right: 66.66666666666666%;
  }
  .col-md-offset-9 {
    margin-right: 75%;
  }
  .col-md-offset-10 {
    margin-right: 83.33333333333334%;
  }
  .col-md-offset-11 {
    margin-right: 91.66666666666666%;
  }
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11 {
    float: right;
  }
  .col-lg-push-1 {
    right: 8.333333333333332%;
  }
  .col-lg-push-2 {
    right: 16.666666666666664%;
  }
  .col-lg-push-3 {
    right: 25%;
  }
  .col-lg-push-4 {
    right: 33.33333333333333%;
  }
  .col-lg-push-5 {
    right: 41.66666666666667%;
  }
  .col-lg-push-6 {
    right: 50%;
  }
  .col-lg-push-7 {
    right: 58.333333333333336%;
  }
  .col-lg-push-8 {
    right: 66.66666666666666%;
  }
  .col-lg-push-9 {
    right: 75%;
  }
  .col-lg-push-10 {
    right: 83.33333333333334%;
  }
  .col-lg-push-11 {
    right: 91.66666666666666%;
  }
  .col-lg-pull-1 {
    left: 8.333333333333332%;
  }
  .col-lg-pull-2 {
    left: 16.666666666666664%;
  }
  .col-lg-pull-3 {
    left: 25%;
  }
  .col-lg-pull-4 {
    left: 33.33333333333333%;
  }
  .col-lg-pull-5 {
    left: 41.66666666666667%;
  }
  .col-lg-pull-6 {
    left: 50%;
  }
  .col-lg-pull-7 {
    left: 58.333333333333336%;
  }
  .col-lg-pull-8 {
    left: 66.66666666666666%;
  }
  .col-lg-pull-9 {
    left: 75%;
  }
  .col-lg-pull-10 {
    left: 83.33333333333334%;
  }
  .col-lg-pull-11 {
    left: 91.66666666666666%;
  }
  .col-lg-offset-1 {
    margin-right: 8.333333333333332%;
  }
  .col-lg-offset-2 {
    margin-right: 16.666666666666664%;
  }
  .col-lg-offset-3 {
    margin-right: 25%;
  }
  .col-lg-offset-4 {
    margin-right: 33.33333333333333%;
  }
  .col-lg-offset-5 {
    margin-right: 41.66666666666667%;
  }
  .col-lg-offset-6 {
    margin-right: 50%;
  }
  .col-lg-offset-7 {
    margin-right: 58.333333333333336%;
  }
  .col-lg-offset-8 {
    margin-right: 66.66666666666666%;
  }
  .col-lg-offset-9 {
    margin-right: 75%;
  }
  .col-lg-offset-10 {
    margin-right: 83.33333333333334%;
  }
  .col-lg-offset-11 {
    margin-right: 91.66666666666666%;
  }
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11 {
    margin-left: 0;
  }
}